@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --color-text: #bcbcbc;
  --color-sa-red: #bc2c36;
  --color-sa-green: #12a82e;
  --color-sa-blue: #024885;
  --color-sa-yellow: #d5b63e;

  /* Base Colors */
  --color-background: #121212;
  --color-text: #e0e0e0;

  /* Surface Layers */
  --color-surface: #1e1e1e;
  --color-surface-1: #2a2a2a;
  --color-surface-2: #333333;
  --color-surface-3: #3d3d3d;

  /* Primary and Accent */
  --color-primary: #bc2c36;
  --color-accent: #d5b63e;

  /* Text on Surfaces */
  --color-on-primary: #ffffff;
  --color-on-accent: #1e1e1e;
  --color-on-surface: #e0e0e0;
}

:root {
  --ratio: 0.15vw;

  --s1: calc(40px + var(--ratio));
  --s2: calc(32px + var(--ratio));
  --s3: calc(24px + var(--ratio));
  --s4: calc(20px + var(--ratio));
  --s5: calc(16px + var(--ratio));
  --s6: calc(14px + var(--ratio));
}

/* Custom scrollbar */
.scrollbar-sa {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 transparent;
}

.scrollbar-sa::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-sa::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 4px;
}

.scrollbar-sa::-webkit-scrollbar-track {
  background: transparent;
}

/* no scrollbar for tailwind */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* default styles */
body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*  */
.heading-1 {
  font-size: var(--s1);
}

.heading-2 {
  font-size: var(--s2);
}

.heading-3 {
  font-size: var(--s3);
}
.heading-4 {
  font-size: var(--s4);
}

.heading-5 {
  font-size: var(--s5);
}

/*  */
.container-small {
  width: 100%;
}

@media (min-width: 640px) {
  .container-small {
    max-width: 490px;
  }
}

@media (min-width: 768px) {
  .container-small {
    max-width: 618px;
  }
}
@media (min-width: 1024px) {
  .container-small {
    max-width: 874px;
  }
}

@media (min-width: 1280px) {
  .container-small {
    max-width: 1030px;
  }
}

/*  */
.leaflet-control-container .leaflet-bottom.leaflet-left {
  display: block;
}

.leaflet-control-container .leaflet-top.leaflet-left {
  display: none;
}

@media (max-width: 768px) {
  .leaflet-control-container .leaflet-bottom.leaflet-left {
    display: none;
  }

  .leaflet-control-container .leaflet-top.leaflet-left {
    display: block;
  }
}
