@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@theme {
  --color-text: #bcbcbc;
  --color-sa-red: #bc2c36;
  --color-sa-green: #12a82e;
  --color-sa-blue: #024885;
  --color-sa-yellow: #d5b63e;

  /* Base Colors */
  --color-bg: #121212;
  --color-text: #e0e0e0;

  /* Surface Layers */
  --color-surface: #1e1e1e;
  --color-surface-1: #2a2a2a;
  --color-surface-2: #333333;
  --color-surface-3: #3d3d3d;

  /* Primary and Accent */
  --color-primary: #bc2c36;
  --color-accent: #d5b63e;

  /* Text on Surfaces */
  --color-on-primary: #ffffff;
  --color-on-accent: #1e1e1e;
  --color-on-surface: #e0e0e0;
}

.scrollbar-sa {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 transparent;
}

.scrollbar-sa::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-sa::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 4px;
}

.scrollbar-sa::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
